# Build results
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
bin/
obj/
[Oo]ut/

# Visual Studio / Rider
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.idea/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
packages/

# SonarQube
.sonarqube/

# Environment variables
.env
.env.local
.env.production
.env.staging

# Database
*.db
*.sqlite

# Logs
logs/
*.log